/* 
Title: Global CSS file
Author: Professor Kumar
Date: 2022
Modified By: Ferdinand "Papo" Detres Jr
Description: This is a global css file with requirements set by 
web231 assignment requirements
*/

body {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
  }
  
  
  /* #container {
    padding: 10px;
  } */
  
  #card-example {
    width: 600px;
    margin: 3% auto 0;
  }
  
  #card-example2 {
    width: 600px;
    margin: 3% auto 0;
  }
  #card-example3 {
    width: 600px;
    margin: 3% auto 0;
  }
  #card-example4 {
    width: 600px;
    margin: 3% auto 0;
  }
  
  #form-example {
      width: 600px;
      margin: 3% auto 0;
  }
  
  #form-results-example {
      width: 600px;
      margin: 3% auto 0;
  }
  
 
 
  
  