/* 
// Title: Assignment 4
// Author: Professor Kumar
// Date: 18 June 21
// Modified By: Ferdinand "Papo" Detres Jr
// Description: This week's project is a Calorie Counter
// Code Attributions: The classes and id's were taken from the CSS styleguide provided by Bellevue.

*/

#foodList {
  float: right;
  color: #df546a;
  font-size: 12px;
  letter-spacing: 2px;
}
