/* 
Title: Web 330
Author: Professor Kumar
Date: Jul1 1, 2022
Modified By: Ferdinand "Papo" Detres Jr
Description: This is the main css file for Assignment Future Value App which links
to the index.html file. Code for the css was provided by instructions for 
Assignment six in a word doc.
*/
